*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
*.vspscc
_ReSharper.*/
*.userNDependOut
*.nupkg
*.vs10x
*.dotCover
*.user 
*.csproj.user
*.resharper.user
*.resharper
*.cache
*.docstates
*~
*.swp
*.bak
*.orig
*.log
*.TeamCity.user
*.DotSettings.user
*.ncrunchproject
*.ncrunchsolution
packages/
NDependOut