<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OperationManagerPortBinding" />
        <binding name="OperationManagerPortBinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://10.64.6.74:8443/anm/OperationManager"
          binding="basicHttpBinding" bindingConfiguration="OperationManagerPortBinding1"
          contract="IOperationManager" name="OperationManagerPort" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
