<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAy10CwEiCoUOdAbb9d2Y7jQAAAAACAAAAAAADZgAAwAAAABAAAABW0CmJGySbIfWvx8C68YxdAAAAAASAAACgAAAAEAAAAANUEViVWdzo6x/fHgcDO7AoAAAA80eK15RmtmbMqjvDLGtohkarc6xVGBrxB+1uAYsa5TD5q/blJ32QMBQAAADwT67jY3408PY/Pumibl3tVwbhKw==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAy10CwEiCoUOdAbb9d2Y7jQAAAAACAAAAAAADZgAAwAAAABAAAAA9jSZfW2uO6nRaHyRpE1nZAAAAAASAAACgAAAAEAAAAKSUb9FFLhA4RMreiif/lQ8oAAAA9sAEe3uHxWSCMq0uIXmI4JxO3yTmTybAuQP+STnw8WYN9Evg6rFCAhQAAADrEHrY1L/iOfohdic7E3oPKslnoQ==" />
  </apikeys>
</configuration>