<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbHVY8qWHOUSd5LbesiYrWgAAAAACAAAAAAADZgAAwAAAABAAAABDQcJez3ql89lrBR2IIsV2AAAAAASAAACgAAAAEAAAALeEq/NrGpcx5KV/WWfzdAooAAAApTE4lv5Yv7hAwKCLS6i/VXmFhghk55S9oeGqKFecOgdgoDObKb2O5hQAAAB5koyFaJYtkLfQMZaUUQWIcvRV7g==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbHVY8qWHOUSd5LbesiYrWgAAAAACAAAAAAADZgAAwAAAABAAAABsuScgfzsS8xT7VwGy4zcmAAAAAASAAACgAAAAEAAAAHPX0Ae0uzqrp4olaTNDpTUoAAAAxuFdWJMIJRKdLrqm28FIXFBExxgnxboFJOOhdIkgoCjt7thuUyOZYhQAAADPYtcAEcesZ7HyJcS2mTajsldNXw==" />
  </apikeys>
</configuration>